body{
    background-color: bisque;
}



.centered{
    text-align: center;
}



.container{
    width: 45vw;
    margin: auto;
    background-color: azure;
    padding: 40px;
    border: 1px solid yellow;
    border-radius: 20px;
}